body {
  background-color: whitesmoke;
}

.hidden {
  display: none;
}

.list-item {
  background-color: lightcoral;
  cursor: pointer;
}

.k-notification-wrap {
  background-color: lightcoral;
}

.gearset-icon {
  width: 60px;
}

.gearset {
  list-style-type: none;
}
.gearset li {
  padding-top: 10px;
}

.stat-block span {
  position: absolute;
  right: 10px;
}