body {
  background-color: whitesmoke;
}

.hidden {
  display: none;
}

.list-item {
  background-color: lightcoral;
  cursor: pointer;
}

.k-notification-wrap {
  background-color: lightcoral;
}

.gearset-icon {
  width: 60px;
}

.gearset {
  list-style-type: none;
}
.gearset li {
  padding-top: 10px;
}

.stat-block span {
  position: absolute;
  right: 10px;
}

.core-stats label {
  text-transform: uppercase;
}
.HP-coreStat .k-progress-status-wrap,
.hp-coreStat .k-progress-status-wrap {
  background-color: yellowgreen;
  font-weight: bold;
}
.MP-coreStat .k-progress-status-wrap,
.mp-coreStat .k-progress-status-wrap {
  background-color: lightpink;
  font-weight: bold;
}
.TP-coreStat .k-progress-status-wrap,
.tp-coreStat .k-progress-status-wrap {
  background-color: orange;
  font-weight: bold;
}