<template>
  <require from="resources/value-converters/objectvalues"></require> 

  <ul class="nav nav-pills">
    <li role="jobs" repeat.for="item of specificCharacterGearsets">
      <a href="#" click.delegate="loadStats(item)"><img width="30px" src="${item.role.icon}" title="${item.role.abbr}" /></a>
    </li>
  </ul>
  
  <div class="well stats">
    <div class="row" repeat.for="stat of stats | objectValues">
      <div class="col-sm-3">
        ${stat.key}
      </div>
      <div class="col-sm-9">
        ${stat.value}
      </div>
    </div>
  </div>  
</template>