<template>
  <div class="row">
    <div class="col-sm-12">
      <form class="form-inline">
        <div class="form-group character-search">
          <input type="text" class="form-control" placeholder="Name to search" value.bind="searchName" aria-describedby="helpBlockSearch">
          <span id="helpBlockSearch" class="help-block hidden">Please enter a valid name to search.</span>
          <button class="btn btn-default search" click.delegate="searchForUser()">Search</button>
        </div>
      </form>
    </div>
  </div>
</template>